.stats{
    border: 3px solid #121d7e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.selesai {
    text-decoration: line-through;
    color: #d18585;          /* HIJAU TERANG (bisa diganti) */
    font-style: italic;
    background-color: rgba(0, 255, 156, 0.1);
    text-align: left;
}
.todolist {
    border: 10px solid #121d7e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: left;
}